footer {
  background-color: var(--backgroud-color);
  color: var(--font-collor);
  
  width: 100vw;
  overflow: hidden;
  position: sticky;
}

.copyright {
  text-align: right;
  font-size: 2.2vh;
  padding-right: 5vw;
  padding-top: 1vh;
  border-top: solid 7px var(--font-collor);
  position: sticky;
}

.copyright p{
  position: sticky;
}