@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body{
  margin: 0;
  font-family: "Gochi Hand", cursive;
  /* background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh; */
  background-color: rgb(0,75,215)
}

main{
  display: flex;
  flex-direction: row
}